body {
  background-image: url(./zoo-background.webp);
  background-size: 100% 100%; /* Ensure the background image covers the entire viewport */
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: Garamond, serif;

}

#place-holder {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* מרווח בין הכרטיסיות */
  justify-content: center; /* ממרכז את הכרטיסיות אם יש מקום */
  padding: 20px; /* רווח בפנים מהקצוות */
}

/* הגדרת סגנון לכרטיסיות המבקרים */
.visitor-card {
  flex: 0 1 200px; /* flex-grow, flex-shrink, flex-basis */
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px; /* קצוות מעוגלים */
  overflow: hidden; /* מונע גלישת תוכן מחוץ לגבולות */
  background-color: rgba(255, 255, 255, 0.5); /* שקיפות */
  backdrop-filter: blur(10px); /* טשטוש הרקע חזק יותר */
  text-align: center;
}

/* תמונה בתוך הכרטיס */
.card-img {
  margin-top: 10px;
  border-radius: 10px;
  height: 274px; /* שומר על פרופורציות התמונה */
  width: 180px;
}

/* סגנון לכפתור */
button {
  cursor: pointer; /* מצביע כפתור כאשר העכבר מעל */
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none; /* מסיר גבולות */
  background-color: #392f01;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s; /* אפקט חלק בשינוי צבע */
  margin-right: 5px;
  margin-left: 5px;
}

button:hover {
  background-color: #12561c; /* צבע רקע כהה יותר בעת העברת העכבר */
}
#query-input {
  display: block;
  width: 80%; /* Adjusts the width of the search box */
  max-width: 600px; /* Ensures the search box doesn't get too wide on larger screens */
  padding: 15px 20px; /* Increases padding for a taller input field */
  margin: 20px auto; /* Increases margin for more space around the search box */
  font-size: 1.2rem; /* Makes the text inside the input larger */
  border: 2px solid #392f01; /* Optional: Adds a solid border to make the input stand out */
  border-radius: 10px; /* Optional: Rounds the corners for a modern look */
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: Adds a subtle shadow for depth */
}
