body {
    background-image: url(./zoo-background.webp);
    background-size: 100% 100%; /* Ensure the background image covers the entire viewport */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: Garamond, serif;
    font-size: 1.5em;
    font-weight: bold;
  }
  h1{
    text-align: center;
    padding: 100px 0; /* Increase the padding to make the header taller */
    color: #fff; /* Header text color */
    font-size: 2.5em; /* Increase the font size */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a text shadow */
    border-radius: 10px; /* Add border radius to soften edges */
    animation: fadeIn 3s ease; /* Add fade-in animation */
  }
  #animal-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* מרווח בין הכרטיסיות */
    justify-content: center; /* ממרכז את הכרטיסיות אם יש מקום */
    padding: 20px; /* רווח בפנים מהקצוות */
  }
.animal-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px; /* קצוות מעוגלים */
  overflow: hidden; /* מונע גלישת תוכן מחוץ לגבולות */
  background-color: rgba(255, 255, 255, 0.5); /* שקיפות */
  backdrop-filter: blur(10px); /* טשטוש הרקע חזק יותר */
  text-align: center;
  border: 3px solid #000000;
  padding: 30px;
  }
  
  .card-img {
    border-radius: 10px;
    height: 274px; /* שומר על פרופורציות התמונה */
    width: 180px;
  }
  
  .card-body {
    padding-top: 10px; /* Add some space between the image and the text */
  }
  
  .card-text {
    margin: 5px 0; /* Add some margin to each text paragraph */
  }